/*¶¥²¿Í¨À¸*/
#header {
  height: 44px;
  background-color: #f4483e;
  width: 100%;
  > div:nth-child(1) {
    width: 40px;
    height: 44px;
    float: left;
    a {
      display: inline-block;
      height: 100%;
      width: 100%;
      position: relative;
      text-align: center;
      line-height: 50px;
      > i {
        color: #fff;
        font-size: 17px;
      }
    }
  }
  h1 {

    margin: 0;
    font-size: 20px;
    color: #fff;
    text-align: center;
    line-height: 44px;
  }
  > a {
    display: inline-block;
    float: right;
    width: 50px;
    height: 44px;
    background: url("../images/header_app.png") no-repeat center center;
    -webkit-background-size: 32px;
    background-size: 32px;

  }
}

main {
  .text {
    text-align: center;
    color: #999;
    font-size: 12px;
    margin: 8px 0;
  }
  .content {
    li {
      width: 100%;
      background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1024 1024'><path fill='#999999' d='M746.255255 299.653099 746.33098 299.728824 713.12674 332.933063 713.049992 332.857339 297.859875 748.048479 264.635169 714.82275 679.816077 299.642866 264.635169-115.538041 297.859875-148.762747 713.00906 266.386438 713.085808 266.30969 746.341213 299.567141Z' transform='translate(0, 812) scale(1, -1)'/></svg>");
      background-repeat: no-repeat;
      -webkit-background-size: 20px 20px;
      background-size: 20px 20px;
      background-position: right center;
      list-style: none;
      position: relative;
      overflow: hidden;
      border-bottom: 1px solid #e7e7e7;
      a {
        display: inline-block;
        height: 100%;
        width: 100%;
        padding: 10px;
        box-sizing: content-box;
        .img {
          width: 100px;
          height: 80px;
          overflow: hidden;
          margin-right: 10px;
          float: left;
          img {
            min-width: 100px;
            height: auto;
            width: 100px;
            vertical-align: middle;
            border: none;
          }
        }
        .info {
          line-height: 24px;
          padding-right: 30px;
          overflow: hidden;
          .title {
            margin: 0px;
            padding: 0px;
            word-break: break-all;
            text-align: justify;
            font-size: 14px;
            font-weight: normal;
            color: #333333;
            line-height: 20px;
          }
          .money {
            font-size: 14px;
            line-height: 24px;
            font-weight: 900;
          }
          .time {
            font-size: 12px;
            color: #EE7700;
            margin-top: 10px;
          }
        }
      }
    }
  }
}