/*����ͨ��*/
#header {
  height: 44px;
  background-color: #f4483e;
  width: 100%;
}
#header > div:nth-child(1) {
  width: 40px;
  height: 44px;
  float: left;
}
#header > div:nth-child(1) a {
  display: inline-block;
  height: 100%;
  width: 100%;
  position: relative;
  text-align: center;
  line-height: 50px;
}
#header > div:nth-child(1) a > i {
  color: #fff;
  font-size: 17px;
}
#header h1 {
  margin: 0;
  font-size: 20px;
  color: #fff;
  text-align: center;
  line-height: 44px;
}
#header > a {
  display: inline-block;
  float: right;
  width: 50px;
  height: 44px;
  background: url("../images/header_app.png") no-repeat center center;
  -webkit-background-size: 32px;
  background-size: 32px;
}
main > ul {
  list-style: none;
}
main > ul > li {
  float: left;
  height: 75px;
  display: block;
  margin-left: 5px;
  margin-top: 5px;
  text-align: center;
  margin: 0;
  padding: 0;
  border: 1px solid #eee;
  overflow: hidden;
  font-size: 12px;
  width: 118px;
}
main > ul > li img {
  height: 50px;
  width: 50px;
}
