.head-logo {
  width: 100%;
  height: 50px;
  background-color: #ff841d;
  border-bottom: 1px solid #e6e6e6;
}
.head-logo > .logo {
  float: left;
  padding: 12px;
}
.head-logo > .logo > a {
  display: block;
}
.head-logo > .logo > a > img {
  max-height: 25px;
  overflow: hidden;
}
.head-logo > .load {
  padding: 7px;
  float: right;
}
.head-logo > .load > a {
  display: block;
}
.head-logo > .load > a > img {
  max-height: 34px;
  overflow: hidden;
}
form > .search {
  border-bottom: 1px solid #e6e6e6;
  padding: 10px;
  position: relative;
  background-color: White;
}
form > .search > .search-inp {
  border: none;
  background: #f1f1f1;
  margin: 0px;
  height: 30px;
  line-height: 30px;
  border-radius: 15px;
  padding-left: 10px;
  width: 90%;
  padding-left: 5%;
  font-size: 16px;
}
form > .search > .search-btn {
  width: 63px;
  background: #ff841d;
  color: #FFFFFF;
  border: none;
  height: 30px;
  line-height: 30px;
  border-radius: 15px;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 16px;
}
.mn_history {
  width: 100%;
}
.mn_history .mn_history_content {
  width: 100%;
}
.mn_history .mn_history_content .mn_history_top {
  border: 1px solid #E0E0E0;
  position: relative;
  background: #f5f5f5;
  padding: 10px 15px;
}
.mn_history .mn_history_content .mn_history_top h4 {
  padding: 0px;
  margin: 0px;
  display: inline-block;
}
.mn_history .mn_history_content .mn_history_top h4 a {
  line-height: 17px;
  font-size: 16px;
  color: #454545;
}
.mn_history .mn_history_content .mn_history_top span {
  cursor: pointer;
  position: absolute;
  top: 0px;
  right: 15px;
  padding: 20px 20px;
}
.mn_history .mn_history_content .mn_history_top span b {
  position: absolute;
  width: 30px;
  height: 15px;
  top: 16px;
  right: 10px;
  overflow: hidden;
}
.mn_history .mn_history_content .mn_history_top span i {
  font-style: normal;
  text-decoration: none;
  font-size: 33px;
  position: absolute;
  top: -28px;
  right: 0px;
  display: inline-block;
  width: 30px;
  height: 30px;
}
.mn_history .mn_history_content .mn_history_bt {
  display: none;
  width: 100%;
}
.mn_history .mn_history_content .mn_history_bt ul {
  text-align: center;
  margin-bottom: 0px;
  width: 100%;
  border-left: 1px solid #E0E0E0;
  border-top: 1px solid #E0E0E0;
}
.mn_history .mn_history_content .mn_history_bt ul li {
  border-bottom: 1px solid #E0E0E0;
  border-right: 1px solid #E0E0E0;
  padding: 10px 15px;
}
.mn_history .mn_history_content .mn_history_bt ul li a {
  color: #454545;
  line-height: 20px;
  font-size: 16px;
}
*,
body,
html {
  margin: 0;
  padding: 0;
}
a {
  color: #000;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
.footApp {
  width: 100%;
}
.footApp > .footTop {
  background: #efefef;
  border-top: 1px solid #c4c4c4;
  border-bottom: 1px solid #c4c4c4;
  height: 34px;
  line-height: 34px;
  margin-top: 25px;
  clear: both;
}
.footApp > .footTop > a {
  box-sizing: border-box;
  float: left;
  font-size: 14px;
  border-right: 1px solid #c4c4c4;
  text-align: center;
  width: 30%;
  color: #000;
}
.footApp > .footTop > a:hover {
  text-decoration: none;
}
.footApp > .footTop > a:nth-last-of-type(1) {
  border-right: none;
}
.footApp > .footTop > a:nth-last-of-type(1) > img {
  vertical-align: middle;
  margin-top: -5px;
  margin-right: 2px;
  width: 15px;
  height: 15px;
}
.footApp > .foot {
  background: #efefef;
  text-align: center;
  font-size: 12px;
  padding: 15px 0;
  color: #666;
}
.footApp > .foot a:nth-of-type(1).color {
  color: #e4393c;
  font-weight: 500;
}
*,
body,
html {
  margin: 0;
  padding: 0;
}
a {
  color: #000;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
.footApp {
  width: 100%;
}
.footApp > .footTop {
  background: #efefef;
  border-top: 1px solid #c4c4c4;
  border-bottom: 1px solid #c4c4c4;
  height: 34px;
  line-height: 34px;
  margin-top: 25px;
  clear: both;
}
.footApp > .footTop > a {
  box-sizing: border-box;
  float: left;
  font-size: 14px;
  border-right: 1px solid #c4c4c4;
  text-align: center;
  width: 30%;
  color: #000;
}
.footApp > .footTop > a:hover {
  text-decoration: none;
}
.footApp > .footTop > a:nth-last-of-type(1) {
  border-right: none;
}
.footApp > .footTop > a:nth-last-of-type(1) > img {
  vertical-align: middle;
  margin-top: -5px;
  margin-right: 2px;
  width: 15px;
  height: 15px;
}
.footApp > .foot {
  background: #efefef;
  text-align: center;
  font-size: 12px;
  padding: 15px 0;
  color: #666;
}
.footApp > .foot a:nth-of-type(1).color {
  color: #e4393c;
  font-weight: 500;
}
