//Í·²¿ÇøÓò

#header {
  height: 44px;
  background-color: #ff841d;
  width: 100%;
  > div:nth-child(1) {
    width: 40px;
    height: 44px;
    float: left;
    a {
      display: inline-block;
      height: 100%;
      width: 100%;
      position: relative;
      text-align: center;
      line-height: 50px;
      > i {
        color: #fff;
        font-size: 17px;
      }
    }
  }
  h1 {
    margin: 0;
    font-size: 20px;
    color: #fff;
    text-align: center;
    line-height: 44px;
    font-weight: 500;
  }
  > a {
    display: inline-block;
    float: right;
    width: 50px;
    height: 44px;
    background: url("../images/header_app.png") no-repeat center center;
    -webkit-background-size: 32px;
    background-size: 32px;

  }
}
.link {
  width: 300px;
  margin: 10px auto;
  float: none;
  a {
    padding: 10px 8px;
    background: #f4f4f4;
    border: 1px solid #bfbfbf;
    float: left;
    margin: 0 0 5px 5px;
    img {
      margin-right: 5px;
    }
  }
}